.movies__list {
  list-style: none;
  max-width: 1200px;
  min-height: 619px;
  align-content: start;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(3, minmax(min-content, 360px));
  column-gap: 30px;
  row-gap: 32px;
  box-sizing: border-box;
  padding: 70px 30px 10px;
}

@media (max-width: 1023px) {
  .movies__list {
    grid-template-columns: repeat(2, minmax(min-content, 360px));
    column-gap: 24px;
    row-gap: 35px;
  }
}

@media (max-width: 767px) {
  .movies__list {
    grid-template-columns: repeat(1, minmax(min-content, 360px));
    row-gap: 16px;
    padding: 40px 10px 10px;
  }
}
