.more {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 30px 80px;
  width: max-content;
}

.more__button {
  padding: 11px 60px 9px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;

  min-width: 320px;
  background: #2f2f2f;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}
