.not-found {
  padding: 60px;
  box-sizing: border-box;
  min-height: 100vh;
}

.not-found__title {
  margin: 186px 0 5px;
  text-align: center;

  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
  letter-spacing: 0em;
}

.not-found__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0 184px;
}

.not-found__link {
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  display: block;
}

@media (max-width: 1023px) {
  .not-found {
    padding: 222px 60px;
  }
  .not-found__text {
    margin-bottom: 184px;
  }
  .not-found__title {
    margin-top: 184px;
  }
}

@media (max-width: 767px) {
  .not-found {
    padding: 30px;
  }

  .not-found__text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 284px;
  }
  .not-found__title {
    margin: 299px 0 10px;
    font-size: 80px;
    line-height: 97px;
  }
  .not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}
