.portfolio {
  padding-top: 100px;
}
.portfolio__title {
  margin: 0 0 30px;
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.portfolio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
  border-bottom: 1px solid #424242;
  padding: 20px 0 19px;
  display: flex;
  justify-content: space-between;
}

.portfolio__link_last {
  border: none;
}

@media (max-width: 1023px) {
  .portfolio {
    padding-top: 90px;
  }

  .portfolio__link {
    padding: 20px 0 19px;
    font-size: 28px;
  }
}
